@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    6862 Colonial Club Dr.<br />
    Thomasville, NC 27360<br />
    <abbr title="Phone">P:</abbr>
    336.880.0552
</address>

